In [129]:
import mysql.connector
import time, random
import pandas as pd

In [130]:



customers = ["ALFKI","ANATR",
"ANTON",
"AROUT",
"BERGS",
"BLAUS",
"BLONP",
"BOLID",
"BONAP",
"BOTTM",
"BSBEV",
"CACTU",
"CENTC",
"CHOPS",
"COMMI",
"CONSH",
"DRACD",
"DUMON",
"EASTC",
"ERNSH",
"FAMIA",
"FISSA",
"FOLIG",
"FOLKO",
"FRANK",
"FRANR",
"FRANS",
"FURIB",
"GALED",
"GODOS",
"GOURL",
"GREAL",
"GROSR",
"HANAR",
"HILAA",
"HUNGC",
"HUNGO",
"ISLAT",
"KOENE",
"LACOR",
"LAMAI",
"LAUGB",
"LAZYK",
"LEHMS",
"LETSS",
"LILAS",
"LINOD",
"LONEP",
"MAGAA",
"MAISD",
"MEREP",
"MORGK",
"NORTS",
"OCEAN",
"OLDWO",
"OTTIK",
"PARIS",
"PERIC",
"PICCO",
"PRINI",
"QUEDE",
"QUEEN",
"QUICK",
"RANCH",
"RATTC",
"REGGC",
"RICAR",
"RICSU",
"ROMEY",
"SANTG",
"SAVEA",
"SEVES",
"SIMOB",
"SPECD",
"SPLIR",
"SUPRD",
"THEBI",
"THECR",
"TOMSP",
"TORTU",
"TRADH",
"TRAIH",
"VAFFE",
"VICTE",
"VINET",
"WANDK",
"WARTH",
"WELLI",
"WHITC",
"WILMK",
"WOLZA"]

small_query = '''
select *
from Customers c1
         join Orders o1 on c1.CustomerID = o1.CustomerID
         join `Order Details` od1 on o1.OrderID = od1.OrderID
         join Products P1 on od1.ProductID = P1.ProductID
where c1.CustomerID =%s
'''

medium_query = '''
select *
from Customers c1
         join Orders o1 on c1.CustomerID = o1.CustomerID
         join `Order Details` od1 on o1.OrderID = od1.OrderID
         join Products P1 on od1.ProductID = P1.ProductID
         join `Order Details` od2 on P1.ProductID = od2.ProductID
         join Orders o2 on od2.OrderID = o2.OrderID
         join Customers c2 on o2.CustomerID = c2.CustomerID
where c1.CustomerID = %s
and c1.CustomerID != c2.CustomerID;
'''

large_query = '''
*
from Customers c1
         join Orders o1 on c1.CustomerID = o1.CustomerID
         join `Order Details` od1 on o1.OrderID = od1.OrderID
         join Products P1 on od1.ProductID = P1.ProductID
         join `Order Details` od2 on P1.ProductID = od2.ProductID
         join Orders o2 on od2.OrderID = o2.OrderID
         join Customers c2 on o2.CustomerID = c2.CustomerID
         join Orders o3 on c2.CustomerID = o3.CustomerID
         join `Order Details` od3 on o3.OrderID = od3.OrderID
         join Products p2 on od3.ProductID = p2.ProductID
    where c1.CustomerID = %s
    and c1.CustomerID != c2.CustomerID
    and p2.ProductID != p1.ProductID;
'''

queries = [large_query, medium_query, small_query]

In [131]:
cnx = mysql.connector.connect(host='localhost',
                             user='northwind',
                             password='northwind123',
                             db='northwind')

In [132]:

def runTest(query):
    times = []
    for i in range(0,500):
        start = time.time()* 1000
        companyID = random.choice(customers)
        cursor = cnx.cursor()
        cursor.execute(small_query, (companyID,))
        cursor.fetchall()
        tt =  round((time.time()* 1000-start),4)
        times.append(tt)
        cursor.close()
    return times

In [133]:
results = []
for query in queries:
    temp = runTest(query)
    results.append(temp)

In [135]:
for r in results:
    print("="*80,"\n")
    temp = pd.Series(r)
    mean = temp.mean()
    total = temp.sum()
    print("Mean (ms):",mean)
    print("Total Time (ms):",total)
    print("First 20:\n",temp[0:20])

================================================================================

Mean (ms): 1.2020666000000002
Total Time (ms): 601.0333
First 20:
 0     41.9050
1      1.4331
2      1.0537
3      1.4250
4      1.0430
5      0.8792
6      1.0437
7      1.7461
8      1.2329
9      1.0989
10     1.8499
11     1.2622
12     1.6731
13     1.1707
14     1.6882
15     1.4890
16     1.3762
17     0.9590
18     1.2549
19     0.7988
dtype: float64
================================================================================

Mean (ms): 1.1059834
Total Time (ms): 552.9916999999999
First 20:
 0     0.7820
1     1.2668
2     1.0012
3     0.8113
4     1.0432
5     1.4001
6     1.0271
7     0.9700
8     1.0090
9     0.9460
10    1.0220
11    1.1763
12    0.7109
13    1.2217
14    1.6008
15    0.8838
16    0.8262
17    1.1980
18    1.8782
19    0.9111
dtype: float64
================================================================================

Mean (ms): 1.1003045999999999
Total Time (ms): 550.1523
First 20:
 0     0.8960
1     1.4788
2     0.8767
3     1.2168
4     0.9280
5     0.8379
6     0.8279
7     0.9102
8     0.7920
9     1.0459
10    0.9487
11    0.8977
12    1.2878
13    0.9429
14    1.0342
15    1.0059
16    1.1909
17    0.7100
18    1.1548
19    0.5991
dtype: float64

In [126]:
cnx.close()